- 
  const myName = 'Max Segale';
  const myEmail = 'info@maxsegale.com';
  const siteURL = 'https://maxsegale.com';
  const siteImage = `${siteURL}/instorama-3.png`;
  const siteTitle = `${myName} | Portfolio`;
  const siteDesc = `A collection of personal projects from ${myName}, web developer and designer.`;
  const heroMedia = locals.hero.media;

include mixins

doctype html
html(lang='en')

  head
    meta(charset='UTF-8')
    meta(name='description' content=siteDesc)
    meta(property='og:title' content=siteTitle)
    meta(property='og:description' content=siteDesc)
    meta(property='og:image' content=siteImage)
    meta(property='og:url' content=siteURL)
    meta(property='og:site_name' content=siteTitle)
    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:image:alt' content=siteTitle)
    meta(name='author' content=myName)
    meta(name='copyright' content=myName)
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title #{siteTitle}
    link(rel='icon' type='image/svg+xml' sizes='any' href='favicon.svg')
    link(rel='mask-icon' href='max-segale-logo.svg' color='#000000')
    link(rel='stylesheet' type='text/css' href='style.css')
    script(src='main.js')

  body
    header#top
      .container
        a.logo(href='/')
          img(src='max-segale-logo.svg' alt='Max Segale logo' width='1' height='1')
        h1.heading-2.title Portfolio

    block content

    footer
      .container
        form(name='ask')
          p
            span Any questions? Please ask.
            span.emoji(role='img' aria-label='Message icon') &#x1F4AC;
          label
            span Your Email Address
            input(type='email' name='email' placeholder='Your Email Address' maxlength='254' required)
          hr
          label
            span Your Question
            textarea(name='question' placeholder='Your Question' maxlength='1000' rows='1' required)
          button(type='submit' name='send') Send
          .status#msg-status
        .to-top
          p
            a(href='#top')
              span Scroll to top
              span.emoji(role='img' aria-label='Scroll up icon') &#x261D;
        .copyright
          span &copy; #{myName} <?= date('Y') ?>
